<div class="card text-white " style="background-color:#00396b">
    <div class="card-header" id="titulo">{{titulo}} </div>
        <div class="card-body"> 
            <form>
                <div class="form-group row">
                    <label for="id" class="col-form-label col-sm-2">ID</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="id" [(ngModel)]="fichaMedica.id" required>
                        </div>
                </div>
                <div class="form-group row">
                    <label for="fecha" class="col-form-label col-sm-2">Fecha </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="fecha" [(ngModel)]="fichaMedica.fecha" required>
                        </div>
                </div>
                <div class="form-group row">
                    <label for="nombreProducto" class="col-form-label col-sm-2">Nombre del Producto</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="nombreProducto" [(ngModel)]="fichaMedica.nombreProducto" required >
                        </div>
                </div>
                <div class="form-group row">
                    <label for="vacuna" class="col-form-label col-sm-2">Vacuna</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control"  name="vacuna" [(ngModel)]="fichaMedica.vacuna" required >
                        </div>
                </div>
                <div class="form-group row">
                    <label for="nombreVacuna" class="col-form-label col-sm-2">Nombre de Vacuna</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="nombreVacuna" [(ngModel)]="fichaMedica.nombreVacuna"  required>
                        </div>
                </div>               
                 <div class="form-group row">
                    <label for="diagnostico" class="col-form-label col-sm-2">Diagnóstico</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="diagnostico"  [(ngModel)]="fichaMedica.diagnostico" required>
                        </div>
                </div>
                <div class="form-group row">
                    <label for="nombreMascota" class="col-form-label col-sm-2">Nombre de Mascota </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="nombreMascota"  [(ngModel)]="fichaMedica.nombreMascota" required >
                        </div>
                </div>
                <div class="form-group row">
                    <label for="nombreVeterinario" class="col-form-label col-sm-2">Nombre de Veterinario</label>
                        <div class="col-sm-6">
                            <input ngbDropdownToggle type="text" class="form-control"  name="nombreVeterinario" [(ngModel)]="fichaMedica.nombreVeterinario" required >
                        </div>
                </div>
                <div class="form-group row">
                    <label for="tratamiento" class="col-form-label col-sm-2">Tratamiento</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control"  name="tratamiento" [(ngModel)]="fichaMedica.tratamiento" required>
                        </div>
                </div>
                <div class="form-group row">
                    <label for="descripcionTratamiento" class="col-form-label col-sm-2">Descripción del Tratamiento</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control"  name="descripcionTratamiento" [(ngModel)]="fichaMedica.descripcionTratamiento"required >
                        </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-6">
                        <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!fichaMedica.id else elseBlock">Agregar</button>
                        <ng-template #elseBlock>
                            <button class="btn btn-primary" role="button" (click)='update()'>Modificar</button>

                        </ng-template>
                    </div>
                </div>
            </form>
    </div>
</div>

