<h5 class="card-title" >Contratos</h5>
            
<div class="my-4 text-right" >
    <button class="btn btn-outline-success"  type="button" [routerLink] = "['/contratos/crear']">Nuevo contrato</button>
</div>
<div *ngIf="contratos?.length==0" class="alert alert-info">
    No se encontraron datos registrados
</div>
<table class="table table-striped" *ngIf="contratos?.length>0">
    <thead>
        <tr>
            <th>Nombre del adoptante</th>
            <th>Nombre de la mascota</th>
            <th>Nuevo nombre de la mascota</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let contrato of contratos">
            <td>{{contrato.adoptante}}</td>
            <td>{{contrato.mascota}}</td>
            <td>{{contrato.nuevoNombre}}</td>
            <td>
                <button type="button" name="button" [routerLink]="['/contratos/editar', contrato.id]" class="btn btn-primary">Editar</button>
            </td>
            <td>
                <button type="button" name="eliminar" (click)='delete(contrato)' class="btn btn-danger btn-sm">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>  
