            <form class="border p-3 form"  (submit)="submit()" [formGroup]="contratoObj">
                <div class=" text-center">
                    <h2>Nuevo contrato</h2> 
                    <hr>
                </div>
                    <label for="adoptante" class="col-form-label">Seleccione un adoptante</label>
                        <div class="form-group">
                            <select  class="form-control" type="number" [(ngModel)]="contrato.idAdoptante" name="idAdoptante" formControlName="idAdoptante" [class.is-invalid]="idAdoptanteNoValido">
                                <option *ngFor=" let adoptante of adoptantes" [value]="adoptante.id">{{adoptante.nombreCompleto}}</option>
                        </select>
                        <label *ngIf="idAdoptanteNoValido" class="text-danger">Por favor, complete el campo</label>

                    </div>
                <label for="mascota" class="col-form-label">Seleccione una mascota</label>
                    <div class="form-group">
                        <select class="form-control" type="number" [(ngModel)]="contrato.idMascota" name="idMascota"formControlName="idMascota" [class.is-invalid]="idMascotaNoValido">
                            <option *ngFor=" let mascota of mascotas" [value]="mascota.id">{{mascota.nombre}}</option>
                    </select>
                    <label *ngIf="idMascotaNoValido" class="text-danger">Por favor, complete el campo</label>

                    </div>
                        <div class="form-group">
                            <input type="text" maxlength="50" class="form-control" placeholder="Nuevo nombre de la mascota" name="nuevoNombre" [(ngModel)]= "contrato.nuevoNombre"formControlName="nuevoNombre" [class.is-invalid]="nombreNoValido"  >
                        </div>
                        <label *ngIf="nombreNoValido" class="text-danger">Por favor, complete el campo</label>

                    <div class="col-sm-6">
                        <button class="btn btn-outline-success" role="button" type="submit">Agregar</button>
                    </div>              
            </form>