<!-- <div class="card w-550 mx-auto"  style="width: 525px;"> 
    <div class="card-header" id="titulo" style="background-color: white;" *ngIf="!recordatorioObj.idRecordatorio else elseTitulo">Nuevo Recordatorio</div>
    <ng-template #elseTitulo>
        <div class="card-header" id="titulo" style="background-color: white;">Modificar Recordatorio</div>
         </ng-template>    <div class="card-body mx-auto" style="width: 800px"> -->
            <form class="border p-3 form">   
            <div class=" text-center">
                <h2>Nuevo Recordatorio</h2> 
                <hr>
                    <ng-template #elseTitulo>
                        <h2>Modificar Recordatorio</h2> 
                        <hr>
                     </ng-template>
            
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Recordatorio" name="recordatorio" [(ngModel)]="recordatorioObj.descripcionRecordatorio" >
            </div>
            <label for="fecha" class="col-form-label col-sm-2">Fecha </label>
            
                    <div class="form-group">
                        <input type="date" class="form-control" name="fecha" [(ngModel)]="recordatorioObj.fecha" required>
                    </div>
            <div class="form-row">
                <div class="form-group  col-md-6 ">
                    <button class="btn btn-outline-success" role="button" (click)='agregar()' *ngIf="!recordatorioObj.idRecordatorio else elseBlock">Agregar</button>
                    <ng-template #elseBlock>
                        <button class="btn btn-outline-success" role="button" (click)='modificar()'>Modificar</button>
                    </ng-template>
                </div>
            </div>
        </form>