            <form [formGroup]="recordatorioObj" class="border p-3 form" (submit)='agregar()'>   
            <div class=" text-center" *ngIf="!recordatorioObj.value.idRecordatorio else elseTitulo" >
                <h2 >Nuevo Recordatorio</h2> 
                <hr>
                    <ng-template #elseTitulo>
                        <h2>Modificar Recordatorio</h2> 
                        
                     </ng-template>
            </div>
                <div class="form-group">
                    <input type="text" maxlength="100" class="form-control" placeholder="Recordatorio" name="descripcionRecordatorio" [(ngModel)]="recordatorioObj.value.descripcionRecordatorio" formControlName="descripcionRecordatorio" [class.is-invalid]="recordatorioNoValido"> 
                </div>
            <label for="fecha" class="col-form-label col-sm-2">Fecha </label>
            
                    <div class="form-group">
                        <input type="date" class="form-control" name="fecha" [(ngModel)]="recordatorioObj.value.fecha" required formControlName="fecha">
                    </div>
            <div class="form-row">
                <div class="form-group  col-md-6 ">
                    <button class="btn btn-outline-success" role="button" (click)='agregar()'   *ngIf="!recordatorioObj.value.idRecordatorio else elseBlock">Agregar</button>
                    <ng-template #elseBlock>
                        <button class="btn btn-outline-success" role="button" (click)='modificar()'>Modificar</button>
                    </ng-template>
                </div>
            </div>
        </form>