<!--<div class="card w-550 mx-auto " style="width: 525px;" >
    <div class="card-header" id="titulo" style="background-color: white;" *ngIf="!entrevistaObj.id else elseTitulo">Nueva entrevista</div> 
    <ng-template #elseTitulo>
        <div class="card-header" id="titulo" style="background-color: white;">Modificar entrevista </div> 
         </ng-template>
         <div class="card-body mx-auto" style="width: 800px"> -->

            <form class="border p-3 form">   
                <div class=" text-center">
                    <h2 *ngIf="entrevistaObj.id else elseTitulo">Nueva entrevista</h2> 
                    <hr>
                        <ng-template #elseTitulo>
                            <h2>Modificar entrevista</h2> 
                         </ng-template>
                </div>
                <label for="adoptante" class="col-form-label col-sm-2">Adoptante </label>
                         <div class="form-group">
                             <select type="number" class="form-control " name="adoptante"  [(ngModel)]="entrevistaObj.idAdoptante" required>
                                 <option *ngFor="let adoptante of adoptantes" [ngValue]="adoptante.id">{{adoptante.nombreCompleto}}</option>
                             </select>
                         </div>

                 <label for="respuesta1" class="col-form-label"> 
                     ¿Hace cuánto nació el deseo por adoptar? ¿Por qué consideras que este es el momento indicado para adoptar?
                 </label>
                        <div class="form-group">
                            <textarea type="text"  maxlength="255"  style="resize:none" class="form-control " name="respuesta1" [(ngModel)]="entrevistaObj.respuesta1" required ></textarea>
                        </div>

                        <label for="respuesta2" class="col-form-label"> 
                    ¿Cuántas personas viven en el hogar y que parentesco?
                </label>
                        <div class="form-group">
                            <textarea type="text"  maxlength="255"  style="resize:none"  class="form-control "  name="respuesta2" [(ngModel)]="entrevistaObj.respuesta2" required ></textarea>
                        </div>

                        <label for="respuesta3" class="col-form-label"> 
                    ¿Hay niños? ¿De qué edad?
                </label>
                        <div class="form-group">
                            <textarea type="text"   class="form-control "  name="respuesta3" [(ngModel)]="entrevistaObj.respuesta3" required ></textarea>
                        </div>

                        <label for="respuesta4" class="col-form-label"> 
                    ¿Están todos los miembros de la casa de acuerdo con la adopción? ¿Hay alguna persona alérgica?
                </label>
                        <div class="form-group">
                            <textarea type="text"   maxlength="255"  style="resize:none" class="form-control "  name="respuesta4" [(ngModel)]="entrevistaObj.respuesta4" required ></textarea>
                        </div>

                        <label for="respuesta5" class="col-form-label"> 
                    ¿Hay otros animales en la casa? ¿Hay alguno de raza?
                </label>
                        <div class="form-group">
                            <textarea type="text"   maxlength="255"  style="resize:none" class="form-control "  name="respuesta5" [(ngModel)]="entrevistaObj.respuesta5" required ></textarea>
                        </div>

                        <label for="respuesta6" class="col-form-label"> 
                    Si hay, ¿están vacunados y castrados? Edades de los mismos. ¿Tienen chapita identificador?
                </label>
                        <div class="form-group">
                            <textarea type="text"   maxlength="255"  style="resize:none" class="form-control "  name="respuesta6" [(ngModel)]="entrevistaObj.respuesta6" required ></textarea>
                        </div>
                <label for="respuesta7" class="col-form-label"> 
                    Si no tiene. ¿Tuvo? ¿Qué paso con ellos?
                </label>
                        <div class="form-group">
                            <textarea type="text"   maxlength="255"  style="resize:none" class="form-control "  name="respuesta7" [(ngModel)]="entrevistaObj.respuesta7" required ></textarea>
                        </div>

                        <label for="respuesta8" class="col-form-label"> 
                    ¿Han pensado que harán con el animal si se van de vacaciones o que hacen con los suyos cuando se van de vacaciones?
                </label>
                        <div class="form-group">
                            <textarea type="text"   maxlength="255"  style="resize:none" class="form-control "  name="respuesta8" [(ngModel)]="entrevistaObj.respuesta8" required ></textarea>
                        </div>

                        <label for="respuesta9" class="col-form-label"> 
                    ¿Cuál sería el ámbito donde viviría el animal adoptado?
                </label>
                        <div class="form-group">
                            <textarea type="text"   maxlength="255"  style="resize:none" class="form-control "  name="respuesta9" [(ngModel)]="entrevistaObj.respuesta9" required ></textarea>
                        </div>
                <label for="respuesta10" class="col-form-label"> 
                    ¿Son propietarios o inquilinos (alquila)? Si es inquilino, ¿aceptan animales?
                </label>
                
                        <div class="form-group">
                            <textarea type="text"   maxlength="255"  style="resize:none" class="form-control "  name="respuesta10" [(ngModel)]="entrevistaObj.respuesta10" required ></textarea>
                        </div>
                <label for="respuesta11" class="col-form-label"> 
                    En caso de mudanza, ¿Qué harían con el animal?
                </label>
                        <div class="form-group">
                            <textarea type="text"   maxlength="255"  style="resize:none" class="form-control "  name="respuesta11" [(ngModel)]="entrevistaObj.respuesta11" required ></textarea>
                        </div>
                <label for="respuesta12" class="col-form-label"> 
                    ¿Hay espacios libres en la casa? ¿Están cercados? (Patio, balcón, terraza)
                </label>
                        <div class="form-group">
                            <textarea type="text"   maxlength="255"  style="resize:none" class="form-control "  name="respuesta12" [(ngModel)]="entrevistaObj.respuesta12" required ></textarea>
                        </div>
                <label for="respuesta13" class="col-form-label"> 
                    ¿Es para compañía, guardia, tratamiento, etc?
                </label>
                        <div class="form-group">
                            <textarea type="text"   maxlength="255"  style="resize:none" class="form-control "  name="respuesta13" [(ngModel)]="entrevistaObj.respuesta13" required ></textarea>
                        </div>
                <label for="respuesta14" class="col-form-label"> 
                    ¿Cuántas horas estiman que estará solo?
                </label>
                        <div class="form-group">
                            <textarea type="text"   maxlength="255"  style="resize:none" class="form-control "  name="respuesta14" [(ngModel)]="entrevistaObj.respuesta14" required ></textarea>
                        </div>
                <label for="respuesta15" class="col-form-label"> 
                    ¿Lo van sacar a pasear? ¿Con que frecuencia?
                </label>
                        <div class="form-group">
                            <textarea type="text"   maxlength="255"  style="resize:none" class="form-control "  name="respuesta15" [(ngModel)]="entrevistaObj.respuesta15" required ></textarea>
                        </div>
                <label for="respuesta16" class="col-form-label"> 
                    El perro necesita un periodo de 15 a 30 días de adaptación ¿Están al tanto?
                </label>
                        <div class="form-group">
                            <textarea type="text"   maxlength="255"  style="resize:none" class="form-control "  name="respuesta16" [(ngModel)]="entrevistaObj.respuesta16" required ></textarea>
                        </div>
                <label for="respuesta17" class="col-form-label"> 
                    Acepta el requisito excluyente: castración entre 7 y 9 meses y chapita con dirección y número de teléfono. Trabajo de seguimiento (fotos, videos, certificados veterinarios.)
                </label>
                        <div class="form-group">
                            <textarea type="text"   maxlength="255"  style="resize:none" class="form-control "  name="respuesta17" [(ngModel)]="entrevistaObj.respuesta17" required ></textarea>
                        </div>
                <label for="respuesta18" class="col-form-label"> 
                    ¿Cuál sería su postura ante una inadaptación?
                </label>
                        <div class="form-group">
                            <textarea type="text"   maxlength="255"  style="resize:none" class="form-control "  name="respuesta18" [(ngModel)]="entrevistaObj.respuesta18" required ></textarea>
                        </div>
                <label for="respuesta19" class="col-form-label"> 
                    ¿Por qué decidieron adoptar un cachorro bebe?           
                </label>
                        <div class="form-group">
                            <textarea type="text"   maxlength="255"  style="resize:none" class="form-control "  name="respuesta19" [(ngModel)]="entrevistaObj.respuesta19" required ></textarea>
                        </div>
                <label for="respuesta20" class="col-form-label"> 
                    ¿Qué cuidados cree que necesita un cachorro bebe?
                </label>
                        <div class="form-group">
                            <textarea type="text"   maxlength="255"  style="resize:none" class="form-control "  name="respuesta20" [(ngModel)]="entrevistaObj.respuesta20" required ></textarea>
                        </div>
                <label for="respuesta21" class="col-form-label"> 
                    ¿Qué ocurriría si crece más de lo esperado?
                </label>
                        <div class="form-group">
                            <textarea type="text"  maxlength="255"  style="resize:none" class="form-control "  name="respuesta21" [(ngModel)]="entrevistaObj.respuesta21" required ></textarea>
                        </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <button class="btn btn-outline-success" role="button" (click)='agregar()' *ngIf="!entrevistaObj.id else elseBlock">Agregar</button>
                        <ng-template #elseBlock>
                            <button class="btn btn-outline-success" role="button" (click)='modificar()'>Modificar</button>
                        </ng-template>
                    </div>
                </div>
            </form>
  <!--  </div>
</div> -->