
            <form class="border p-3 form"  >   
                <div class=" text-center">
                    <h2>Visualización de respuestas</h2> 
                    <hr>
                    <label for="adoptante" class="col-form-label col-sm-2">Adoptante </label>
                    <div class="form-group col-md-8">
                        <input type="text"  disabled class="form-control " name="adoptante" [(ngModel)]="entrevista.adoptante" required >
                    </div>
                </div>
                 <label for="respuesta1" class="col-form-label col-sm-8"> 
                     ¿Hace cuánto nació el deseo por adoptar? ¿Por qué consideras que este es el momento indicado para adoptar?
                 </label>
                        <div class="form-group">
                            <textarea type="text" maxlength="255"  style="resize:none"  disabled class="form-control " name="respuesta1" [(ngModel)]="entrevista.respuesta1" ></textarea>
                        </div>
                <label for="respuesta2" class="col-form-label col-sm-8"> 
                    ¿Cuántas personas viven en el hogar y que parentesco?
                </label>
                        <div class="form-group">
                            <textarea type="text" disabled maxlength="255"  style="resize:none"  class="form-control "  name="respuesta2" [(ngModel)]="entrevista.respuesta2"  ></textarea>
                        </div>
                <label for="respuesta3" class="col-form-label col-sm-8"> 
                    ¿Hay niños? ¿De qué edad?
                </label>
                        <div class="form-group">
                            <textarea type="text" disabled  maxlength="255"  style="resize:none" class="form-control "  name="respuesta3" [(ngModel)]="entrevista.respuesta3" ></textarea>
                        </div>
                <label for="respuesta4" class="col-form-label col-sm-8"> 
                    ¿Están todos los miembros de la casa de acuerdo con la adopción? ¿Hay alguna persona alérgica?
                </label>
                        <div class="form-group">
                            <textarea type="text" disabled  maxlength="255"  style="resize:none" class="form-control "  name="respuesta4" [(ngModel)]="entrevista.respuesta4"  ></textarea>
                        </div>
                <label for="respuesta5" class="col-form-label col-sm-8"> 
                    ¿Hay otros animales en la casa? ¿Hay alguno de raza?
                </label>
                        <div class="form-group">
                            <textarea type="text" disabled maxlength="255"  style="resize:none"  class="form-control "  name="respuesta5" [(ngModel)]="entrevista.respuesta5" ></textarea>
                        </div>
                <label for="respuesta6" class="col-form-label col-sm-8"> 
                    Si hay, ¿están vacunados y castrados? Edades de los mismos. ¿Tienen chapita identificador?
                </label>
                        <div class="form-group">
                            <textarea type="text" disabled maxlength="255"  style="resize:none"  class="form-control "  name="respuesta6" [(ngModel)]="entrevista.respuesta6" ></textarea>
                        </div>
                <label for="respuesta7" class="col-form-label col-sm-8"> 
                    Si no tiene. ¿Tuvo? ¿Qué paso con ellos?
                </label>
                        <div class="form-group">
                            <textarea type="text" disabled  maxlength="255"  style="resize:none" class="form-control "  name="respuesta7" [(ngModel)]="entrevista.respuesta7"  ></textarea>
                        </div>
                <label for="respuesta8" class="col-form-label col-sm-8"> 
                    ¿Han pensado que harán con el animal si se van de vacaciones o que hacen con los suyos cuando se van de vacaciones?
                </label>
                        <div class="form-group">
                            <textarea type="text" disabled  maxlength="255"  style="resize:none" class="form-control "  name="respuesta8" [(ngModel)]="entrevista.respuesta8" ></textarea>
                        </div>
                <label for="respuesta9" class="col-form-label col-sm-8"> 
                    ¿Cuál sería el ámbito donde viviría el animal adoptado?
                </label>
                        <div class="form-group">
                            <textarea type="text" disabled  maxlength="255"  style="resize:none" class="form-control "  name="respuesta9" [(ngModel)]="entrevista.respuesta9" ></textarea>
                        </div>
                <label for="respuesta10" class="col-form-label col-sm-8"> 
                    ¿Son propietarios o inquilinos (alquila)? Si es inquilino, ¿aceptan animales?
                </label>
                
                        <div class="form-group">
                            <textarea type="text" disabled  maxlength="255"  style="resize:none" class="form-control "  name="respuesta10" [(ngModel)]="entrevista.respuesta10"></textarea>
                        </div>
                <label for="respuesta11" class="col-form-label col-sm-8"> 
                    En caso de mudanza, ¿Qué harían con el animal?
                </label>
                        <div class="form-group">
                            <textarea type="text" disabled maxlength="255"  style="resize:none"  class="form-control "  name="respuesta11" [(ngModel)]="entrevista.respuesta11" ></textarea>
                        </div>
                <label for="respuesta12" class="col-form-label col-sm-8"> 
                    ¿Hay espacios libres en la casa? ¿Están cercados? (Patio, balcón, terraza)
                </label>
                        <div class="form-group">
                            <textarea type="text" disabled maxlength="255"  style="resize:none"  class="form-control "  name="respuesta12" [(ngModel)]="entrevista.respuesta12"></textarea>
                        </div>
                <label for="respuesta13" class="col-form-label col-sm-8"> 
                    ¿Es para compañía, guardia, tratamiento, etc?
                </label>
                        <div class="form-group">
                            <textarea type="text" disabled  maxlength="255"  style="resize:none" class="form-control "  name="respuesta13" [(ngModel)]="entrevista.respuesta13"></textarea>
                        </div>
                <label for="respuesta14" class="col-form-label col-sm-8"> 
                    ¿Cuántas horas estiman que estará solo?
                </label>
                        <div class="form-group">
                            <textarea type="text" disabled  maxlength="255"  style="resize:none"class="form-control "  name="respuesta14" [(ngModel)]="entrevista.respuesta14"></textarea>
                        </div>
                <label for="respuesta15" class="col-form-label col-sm-8"> 
                    ¿Lo van sacar a pasear? ¿Con que frecuencia?
                </label>
                        <div class="form-group">
                            <textarea type="text" disabled maxlength="255"  style="resize:none"  class="form-control "  name="respuesta15" [(ngModel)]="entrevista.respuesta15"></textarea>
                        </div>
                <label for="respuesta16" class="col-form-label col-sm-8"> 
                    El perro necesita un periodo de 15 a 30 días de adaptación ¿Están al tanto?
                </label>
                        <div class="form-group">
                            <textarea type="text" disabled  maxlength="255"  style="resize:none" class="form-control "  name="respuesta16" [(ngModel)]="entrevista.respuesta16"></textarea>
                        </div>
                <label for="respuesta17" class="col-form-label col-sm-8"> 
                    Acepta el requisito excluyente: castración entre 7 y 9 meses y chapita con dirección y número de teléfono. Trabajo de seguimiento (fotos, videos, certificados veterinarios.)
                </label>
                        <div class="form-group">
                            <textarea type="text" disabled  maxlength="255"  style="resize:none" class="form-control "  name="respuesta17" [(ngModel)]="entrevista.respuesta17"></textarea>
                        </div>
                <label for="respuesta18" class="col-form-label col-sm-8"> 
                    ¿Cuál sería su postura ante una inadaptación?
                </label>
                        <div class="form-group">
                            <textarea type="text" disabled  maxlength="255"  style="resize:none" class="form-control "  name="respuesta18" [(ngModel)]="entrevista.respuesta18" ></textarea>
                        </div>
                <label for="respuesta19" class="col-form-label col-sm-8"> 
                    ¿Por qué decidieron adoptar un cachorro bebe?           
                </label>
                        <div class="form-group">
                            <textarea type="text" disabled maxlength="255"  style="resize:none"  class="form-control "  name="respuesta19" [(ngModel)]="entrevista.respuesta19" ></textarea>
                        </div>
                <label for="respuesta20" class="col-form-label col-sm-8"> 
                    ¿Qué cuidados cree que necesita un cachorro bebe?
                </label>
                        <div class="form-group">
                            <textarea type="text" disabled   maxlength="255"  style="resize:none" class="form-control "  name="respuesta20" [(ngModel)]="entrevista.respuesta20"  ></textarea>
                        </div>
                <label for="respuesta21" class="col-form-label col-sm-8"> 
                    ¿Qué ocurriría si crece más de lo esperado?
                </label>
                        <div class="form-group">
                            <textarea type="text" disabled maxlength="255"  style="resize:none"   class="form-control "  name="respuesta21" [(ngModel)]="entrevista.respuesta21" ></textarea>
                        </div>

            </form>
