<div class="card w-550 mx-auto " style="width: 525px;" >
    <div class="card-header" id="titulo" style="background-color: white;" *ngIf="!fichaMedicaObj.id else elseTitulo">Nueva ficha médica</div>
    <ng-template #elseTitulo>
        <div class="card-header" id="titulo" style="background-color: white;">Modificar ficha médica</div>
         </ng-template>
        <div class="card-body mx-auto" style="width: 800px"> 
            <form>
                <label for="fecha" class="col-form-label col-sm-2">Fecha </label>
                <div class="form-row">
                        <div class="form-group col-md-4">
                            <input type="date" class="form-control" name="fecha" [(ngModel)]="fichaMedicaObj.fecha" required>
                        </div>
                </div>
                <div class="form-row">
                    <label for="desparasitacion" class="col-form-label col-sm-2"> Desparasitacion</label>
                    <div class="form-group col-md-4">
                        <input type="checkbox" placeholder="desparasitacion" name="desparasitacion" [(ngModel)]="checkedDesparasitacion">
                    </div>
                </div>

                <div class="form-row">
                        <div class="form-group col-md-4">
                            <input type="text" [disabled]="checkedDesparasitacion === false" class="form-control " placeholder="Nombre del Producto" name="nombreProducto" [(ngModel)]="fichaMedicaObj.nombreProducto" required >
                        </div>
                </div>
                <div class="form-row">
                    <label for="vacuna" class="col-form-label col-sm-2"> Vacuna</label>
                        <div class="form-group col-md-4">
                            <input type="checkbox" class="visible" placeholder="Vacuna"  name="vacuna" [(ngModel)]="checkedVacuna" required >
                        </div>
                </div>
                <div class="form-row">
                        <div class="form-group col-md-4">
                            <input type="text" class="form-control " placeholder="Nombre de Vacuna" name="nombreVacuna" [(ngModel)]="fichaMedicaObj.nombreVacuna"  required>
                        </div>
                </div>               
                 <div class="form-row">
                        <div class="form-group col-md-4">
                            <input type="text" class="form-control " placeholder="Diagnóstico" name="diagnostico"  [(ngModel)]="fichaMedicaObj.diagnostico" required>
                        </div>
                </div>
            
                <label for="mascota" class="col-form-label col-sm-2">Mascota </label>
                <div class="form-row">
                         <div class="form-group col-md-4">
                             <select type="number" class="form-control " name="mascota"  [(ngModel)]="fichaMedicaObj.idMascota" required>
                                 <option *ngFor="let mascota of mascotas" [ngValue]="mascota.id">{{mascota.nombre}}</option>
                             </select>
                         </div>
                 </div>
                 <label for="veterinaria" class="col-form-label col-sm-2">Veterinaria</label>
                 <div class="form-row">
                         <div class="form-group col-md-4">
                             <select  class="form-control "  name="veterinaria" [(ngModel)]="fichaMedicaObj.idVeterinaria" required >
                                 <option *ngFor="let veterinaria of veterinarias" [ngValue]="veterinaria.id">{{veterinaria.razonSocial}}</option>
                             </select>
                         </div>
                 </div>
                <div class="form-row">
                    <label for="tratamiento" class="col-form-label col-sm-2">Tratamiento</label>
                        <div class="form-group col-md-4">
                            <input type="checkbox"  name="tratamiento" [(ngModel)]="checkedTratamiento" required>
                        </div>
                </div>
                <div class="form-row">
                        <div class="col-md-6">
                            <textarea type="text" maxlength="255"  style="resize:none" class="form-control" placeholder="Descripción del Tratamiento" name="descripcionTratamiento" [(ngModel)]="fichaMedicaObj.descripcionTratamiento"required ></textarea> 
                        </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <button class="btn btn-outline-success" role="button" (click)='agregar()' *ngIf="!fichaMedicaObj.id else elseBlock">Agregar</button>
                        <ng-template #elseBlock>
                            <button class="btn btn-outline-success" role="button" (click)='modificar()'>Modificar</button>
                        </ng-template>
                    </div>
                </div>
            </form>
    </div>
</div>