        <form class="border p-3 form" (submit)="submit()" [formGroup]="historialObj">   
            <div class=" text-center">
                <h2 *ngif="!historialObj.value.id else elseTitulo">Nuevo Historial</h2> 
                <hr>
                    <ng-template #elseTitulo>
                            <h2>Modificar Historial</h2> 
                         </ng-template>
            </div>
            <label for="voluntario" class="col-form-label col-sm-2">Voluntario</label>
                <div class="form-group">
                    <select class="form-control" type=number [(ngModel)]="historialObj.value.idVoluntario" name="idVoluntario" formControlName="idVoluntario" [class.is-invalid]="idVoluntarioNoValido">
                    <option *ngFor=" let voluntario of voluntarios" [value]="voluntario.id">{{voluntario.nombreCompleto}}</option>
                </select>
            </div>
        <label for="mascota" class="col-form-label col-sm-2">Mascota</label>
            <div class="form-group">
                <select class="form-control" type=number [(ngModel)]="historialObj.value.idMascota" name="idMascota" formControlName="idMascota" [class.is-invalid]="idMascotaNoValido">
                <option *ngFor=" let mascota of mascotas" [value]="mascota.id">{{mascota.nombre}}</option>
            </select>
            </div>
            <label for="fecha" class="col-form-label col-sm-4">Fecha</label>
                <div class="form-group">
                    <input class="form-control" type="date" placeholder="Fecha" name="fecha" [(ngModel)]="historialObj.value.fecha" formControlName="fecha" [class.is-invalid]="fechaNoValido">
                </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <button class="btn btn-outline-success" role="button" (click)="agregar()" *ngIf="!historialObj.value.id else elseBlock">
                         Agregar
                    </button>
                    <ng-template #elseBlock>
                        <button class="btn btn-outline-success" role="button" (click)="modificar()">
                            Modificar
                        </button>
                    </ng-template>
                </div>
            </div>
        </form>