        <form class="border p-3 form" (submit)="submit()" [formGroup]="historialObj">   
            <div class=" text-center" >
                <h2>Nuevo Historial</h2> 
            </div>
            <label for="voluntario" class="col-form-label">Seleccione un voluntario</label>
                <div class="form-group">
                    <select class="form-control" type=number  name="idVoluntario" formControlName="idVoluntario" [class.is-invalid]="idVoluntarioNoValido">
                    <option *ngFor=" let voluntario of voluntarios" [value]="voluntario.id">{{voluntario.nombreCompleto}}</option>
                </select>
                <label *ngIf="idVoluntarioNoValido" class="text-danger">Por favor, complete el campo</label>
            </div>
        <label for="mascota" class="col-form-label">Seleccione una mascota</label>
            <div class="form-group">
                <select class="form-control" type=number  name="idMascota" formControlName="idMascota" [class.is-invalid]="idMascotaNoValido">
                <option *ngFor=" let mascota of mascotas" [value]="mascota.id">{{mascota.nombre}}</option>
                
            </select>
            <label *ngIf="idMascotaNoValido" class="text-danger">Por favor, complete el campo</label>
            </div>
            <label for="fecha" class="col-form-label col-sm-4">Fecha</label>
                <div class="form-group">
                    <input class="form-control" type="date" placeholder="Fecha" name="fecha"  formControlName="fecha" [class.is-invalid]="fechaNoValido">
                    <label *ngIf="fechaNoValido" class="text-danger">Por favor, complete el campo</label>
                </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <button class="btn btn-outline-success" role="button" type="submit">
                         Agregar
                    </button>
                </div>
            </div>
        </form>