<h5 >Baja de usuarios</h5>
<div class="alert alert-info">
    No se encontraron datos registrados
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Usuario </th>
            <th>Tipo de Usuario</th>
        </tr>
    </thead>
    <tbody>
        <tr>
       <!--
           <tr *ngFor="let usuario of usuarios">
        --> 
           
            <td>username</td>
            <td>tipoUsuario</td>
            <td>
                <button class="btn btn-outline" type="button" name="button">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>  
