            <form class="border p-3 form">
                <div class=" text-center">
                    <h2>Modificar contraseña</h2> 
                    <hr>
                </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Contraseña Actual" name="contrasenaActual">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder=" Nueva Contraseña" name="nuevaContrasena">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Confirmar contraseña" name="confirmacion">
                    </div>
                <div class = "form-group row">
                    <div class = "col-sm-6">
                        <button class = "btn btn-outline-success" role = "button" >Confirmar</button>
                    </div>
                </div>
            </form>
