            <form class="border p-3 form">
                <div class=" text-center">
                    <h2>Modificar contraseña</h2> 
                    <hr>
                </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Usuario" [(ngModel)]="usuarioObj.username" name="username">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Contraseña actual" [(ngModel)]="usuarioObj.oldPass" name="oldPass">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Nueva contraseña" [(ngModel)]="usuarioObj.newPass" name="newPass">
                    </div>
                <div class = "form-group row">
                    <div class = "col-sm-6">
                        <button class = "btn btn-outline-success" (click)="modificar()" role = "button" >Confirmar</button>
                    </div>
                </div>
            </form>
