<div class="card text-white" style="background-color:#00396b">
    <div class="card-header" id="titulo">{{titulo}} </div>
        <div class="card-body"> 
            <form>
                <div class="form-group row">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="ID" name="id" [(ngModel)]="mascota.id" required >
                        </div>
                </div>
                <div class="form-group row">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="Nombre" name="nombre" [(ngModel)]="mascota.nombre" required >
                        </div>
                </div>
                <div class="form-group row">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="Edad" name="edad" [(ngModel)]="mascota.edad"required  >
                        </div>
                </div>
                <div class="form-group row">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="Particularidades físicas" name="particularesfisicas" [(ngModel)]="mascota.particularesFisicas" required  >
                        </div>
                </div>
                <div class="form-group row">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="Sexo" name="sexo" [(ngModel)]="mascota.sexo" required >
                        </div>
                </div>
                <div class="form-group row">
                    <label for="fechaRescate" class="col-form-label col-sm-2">Fecha de rescate</label>
                        <div class="col-sm-6">
                            <input type="datetime" placeholder="Fecha de rescate" name="fechaRescate" [(ngModel)]="mascota.fechaRescate" required >
                        </div>
                </div>               
                 <div class="form-group row">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="Lugar de rescate" name="lugarRescate"  [(ngModel)]="mascota.lugarRescate" required >
                        </div>
                    </div>
                    <div class="form-group row">
                            <div class="col-sm-6">
                                <input type="text" class="form-control" placeholder="Descripción del rescate" name="descripcionRescate"  [(ngModel)]="mascota.descripcionRescate" required >
                            </div>
                        </div>
                        <div class="form-group row">
                    <label for="imagen" class="col-form-label col-sm-2">Imagen</label>
                        <div class="col-sm-6">
                            <input type="image" class="form-control" name="imagen"  [(ngModel)]="mascota.imagen" required >
                        </div>
                    </div>
                    <div class="form-group row">
                            <div class="col-sm-6">
                                <input type="text" class="form-control" placeholder="Especie" name="especie"  [(ngModel)]="mascota.especie" required >
                            </div>
                        </div>
                        <div class="form-group row">
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder="Estado" name="estado"  [(ngModel)]="mascota.estado" required >
                                </div>
                            </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!mascota.id else elseBlock">Agregar</button>
                        <ng-template #elseBlock>
                            <button class="btn btn-primary" role="button" (click)='update()'>Modificar</button>
                        </ng-template>
                    </div>
                </div>
            </form>
    </div>