    <!--<div class="text-center"id="titulo" style="background-color: white;" *ngIf="!mascotaObj.id else elseTitulo">Nueva mascota</div>
    <ng-template #elseTitulo>
        <div class="text-center" id="titulo" style="background-color: white;">Modificar mascota</div>
         </ng-template>
    <div class="card-body mx-auto" style="width: 800px;"> -->

        <form class="border p-3 form">   
            <div class=" text-center">
                <label *ngIf="!mascotaObj.id else elseTitulo"  >Nueva mascota</label> 
                <hr>
                <ng-template #elseTitulo>
                        <h2>Modificar mascota</h2> 
                     </ng-template>
            </div>
                <div class="form-group">
                    <input type="text" maxlength="50" class="form-control" placeholder="Nombre" name="nombre" [(ngModel)]="mascotaObj.nombre" required>
                </div>
            <label for="fechaNacimiento" class="col-form-label col-sm-8">Fecha de Nacimiento</label>
                <div class="form-group">
                    <input type="date" class="form-control" placeholder="Fecha de Nacimiento" name="fechaNacimiento" [(ngModel)]="mascotaObj.fechaNacimiento" required>
                </div>
                <div class="form-group">
                    <textarea type="text" maxlength="255"  style="resize:none" class="form-control" placeholder="Particularidades Físicas" name="particularidadesFisicas" [(ngModel)]="mascotaObj.particularidadesFisicas" required></textarea> 
                </div>
            <label for="sexo" class="col-form-label col-sm-4">Sexo</label>
                <div class="form-group">
                    <select type="text" class="form-control" placeholder="Sexo" name="sexo" [(ngModel)]="mascotaObj.sexo" required>
                        <option [value]=null> Seleccione sexo</option>
                        <option>Macho</option>
                        <option>Hembra</option>
                    </select>

                </div>
            <div class= "form-group">
                <div class="form-group">
                    <div class="input-group">
                        <div class="custom-file">
                          <input (change)="seleccionarFoto($event)" type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
                          <label class="custom-file-label" for="inputGroupFile04">Seleccionar foto</label>
                        </div>
                      </div>
                </div>
                <div class="col-sm">
                    <img 
                        *ngIf="mascotaObj?.fotoMascota" 
                        src="http://localhost:8080/api/mascotas/upload/img/{{mascotaObj.fotoMascota}}" 
                        alt="{{mascotaObj.fotoMascota}}" 
                        class="img-thumbnail rounded"
                    >
                </div>
            </div>
            

            <label for="fechaRescate" class="col-form-label col-sm-8">Fecha de rescate</label>
                <div class="form-group">
                    <input type="date" class="form-control" placeholder="Fecha de rescate" name="fechaRescate" [(ngModel)]="mascotaObj.fechaRescate" required>
                </div>
                <div class="form-group">
                    <textarea type="text" maxlength="50"  style="resize:none" class="form-control" placeholder="Lugar de rescate" name="lugarRescate" [(ngModel)]="mascotaObj.lugarRescate" required></textarea> 

                </div>
                <div class="form-group">
                    <textarea type="text" maxlength="255"   class="form-control" style="resize:none" placeholder="Descripción del rescate" name="descripcionRescate" [(ngModel)]="mascotaObj.descripcionRescate" required></textarea> 
                </div>
                
                    <div class="form-group">
                        <select type="text" class="form-control " placeholder="Especie" name="especie" [(ngModel)]="mascotaObj.especie" required>
                            <option [value]=null> Seleccione Especie</option>
                            <option>Canino</option>
                            <option>Felino</option>
                        </select>
                    </div>
                
            <label for="estado" class="col-form-label col-sm-2">Estado</label>
                <div class="form-group">
                    <select  class="form-control " type=number [(ngModel)]="mascotaObj.estado" name="estado">
                        <option *ngFor=" let estado of estados" [value]="estado.id">{{estado.descripcion}}</option>
                </select>
                </div>
            <div class="form-row">
                <div class="my-4 text-right">
                    <button class="btn btn-outline-success" role="button" (click)="agregar()" *ngIf="!mascotaObj.id else elseBlock" >
                         Agregar
                    </button>
                    <ng-template #elseBlock>
                        <button class="btn btn-outline-success" role="button" (click)="modificar()">
                            Modificar
                        </button>
                    </ng-template>
            </div>
        </div>
        </form>
