
        <form class="border p-3 form" (submit)="submit()" [formGroup]="mascotaObj">   
            <div class=" text-center">
                <h2>Nueva mascota</h2> 
                <hr>
            </div>
                <div class="form-group">
                    <input type="text" maxlength="50" class="form-control" placeholder="Nombre" name="nombre"  formControlName="nombre" [class.is-invalid]="nombreNoValido">
                </div>
            <label for="fechaNacimiento" class="col-form-label col-sm-8">Fecha de Nacimiento</label>
                <div class="form-group">
                    <input type="date" class="form-control" placeholder="Fecha de Nacimiento" name="fechaNacimiento" formControlName="fechaNacimiento" [class.is-invalid]="fechaNacimientoNoValido" >
                </div>
                <div class="form-group">
                    <textarea type="text" maxlength="255"  style="resize:none" class="form-control" placeholder="Particularidades Físicas" name="particularidadesFisicas" formControlName="particularidadesFisicas" [class.is-invalid]="particularidadesNoValido" ></textarea> 
                </div>
            <label for="sexo" class="col-form-label col-sm-4">Sexo</label>
                <div class="form-group">
                    <select type="text" class="form-control" placeholder="Sexo" name="sexo" formControlName="sexo" [class.is-invalid]="sexoNoValido">
                        <option [value]=null> Seleccione sexo</option>
                        <option>Macho</option>
                        <option>Hembra</option>
                    </select>

                </div>
            <div class= "form-group">
                <div class="form-group">
                    <div class="input-group">
                        <div class="custom-file">
                          <input (change)="seleccionarFoto($event)" type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
                          <label class="custom-file-label" for="inputGroupFile04">Seleccionar foto</label>
                        </div>
                      </div>
                </div>
                <div class="col-sm">
                    <img 
                        *ngIf="mascotaObj?.value.fotoMascota" 
                        src="http://localhost:8080/api/mascotas/upload/img/{{mascotaObj.value.fotoMascota}}" 
                        alt="{{mascotaObj.value.fotoMascota}}" 
                        class="img-thumbnail rounded"
                    >
                </div>
            </div>
            

            <label for="fechaRescate" class="col-form-label col-sm-8">Fecha de rescate</label>
                <div class="form-group">
                    <input type="date" class="form-control" placeholder="Fecha de rescate" name="fechaRescate"  formControlName="fechaRescate" [class.is-invalid]="fechaRescateNoValido">
                </div>
                <div class="form-group">
                    <textarea type="text" maxlength="50"  style="resize:none" class="form-control" placeholder="Lugar de rescate" name="lugarRescate" formControlName="lugarRescate" [class.is-invalid]="lugarRescateNoValido"></textarea> 

                </div>
                <div class="form-group">
                    <textarea type="text" maxlength="255"   class="form-control" style="resize:none" placeholder="Descripción del rescate" name="descripcionRescate"  formControlName="descripcionRescate" [class.is-invalid]="descripcionNoValido"></textarea> 
                </div>
                
                    <div class="form-group">
                        <select type="text" class="form-control " placeholder="Especie" name="especie" formControlName="especie"[class.is-invalid]="especieNoValido">
                            <option [value]=null> Seleccione Especie</option>
                            <option>Canino</option>
                            <option>Felino</option>
                        </select>
                    </div>
                
            <label for="estado" class="col-form-label col-sm-2">Estado</label>
                <div class="form-group">
                    <select  class="form-control " type=number  name="estado" formControlName="estado"[class.is-invalid]="estadoNoValido">
                        <option *ngFor=" let estado of estados" [value]="estado.id">{{estado.descripcion}}</option>
                </select>
                </div>
            <div class="form-group row">
                <div class="my-4 text-right">
                    <button class="btn btn-outline-success" role="button" type='submit'>
                         Agregar
                    </button>
                </div>
            </div>
        </form>
