<div class="card text-white" style="background-color:#00396b">
    <div class="card-header" id="titulo">{{titulo}} </div>
        <div class="card-body"> 
            <form>
                <div class="form-group row">
                    <label for="id" class="col-form-label col-sm-2">ID</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="id" [(ngModel)]="mascota.id" required >
                        </div>
                </div>
                <div class="form-group row">
                    <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="nombre" [(ngModel)]="mascota.nombre" required >
                        </div>
                </div>
                <div class="form-group row">
                    <label for="edad" class="col-form-label col-sm-2">Edad</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="edad" [(ngModel)]="mascota.edad"required  >
                        </div>
                </div>
                <div class="form-group row">
                    <label for="particularesfisicas" class="col-form-label col-sm-2">Particulares Físicas</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="particularesfisicas" [(ngModel)]="mascota.particularesFisicas" required  >
                        </div>
                </div>
                <div class="form-group row">
                    <label for="sexo" class="col-form-label col-sm-2">Sexo</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control"  name="sexo" [(ngModel)]="mascota.sexo" required >
                        </div>
                </div>
                <div class="form-group row">
                    <label for="fechaRescate" class="col-form-label col-sm-2">Fecha del rescate</label>
                        <div class="col-sm-6">
                            <input type="datetime"  name="fechaRescate" [(ngModel)]="mascota.fechaRescate" required >
                        </div>
                </div>               
                 <div class="form-group row">
                    <label for="lugarRescate" class="col-form-label col-sm-2">Lugar del rescate</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="lugarRescate"  [(ngModel)]="mascota.lugarRescate" required >
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="descripcionRescate" class="col-form-label col-sm-2">Descripción del rescate</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="descripcionRescate"  [(ngModel)]="mascota.descripcionRescate" required >
                            </div>
                        </div>
                        <div class="form-group row">
                    <label for="imagen" class="col-form-label col-sm-2">Imagen</label>
                        <div class="col-sm-6">
                            <input type="image" class="form-control" name="imagen"  [(ngModel)]="mascota.imagen" required >
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="especie" class="col-form-label col-sm-2">Especie</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="especie"  [(ngModel)]="mascota.especie" required >
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="estado" class="col-form-label col-sm-2">Estado</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="estado"  [(ngModel)]="mascota.estado" required >
                                </div>
                            </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!mascota.id else elseBlock">Agregar</button>
                        <ng-template #elseBlock>
                            <button class="btn btn-primary" role="button" (click)='update()'>Modificar</button>
                        </ng-template>
                    </div>
                </div>
            </form>
    </div>