<h5>Mascotas</h5>
<div class="input-group">
    <div class="input bg-white">
        <input type="text" name="busquedaNombre" class="form-control" placeholder="Buscar por nombre" [(ngModel)] ="busquedaNombre" (change)="filtroNombre(busquedaNombre)">
    </div>
</div>
<div class="form-row">
    <label for="macho" class="col-form-label col-sm-2"> Macho</label>
    <div class="form-group col-md-4">
        <input type="checkbox" placeholder="macho" name="macho" [(ngModel)]="checkedM" (change)="filtroMacho()">
    </div>
</div>
<div class="form-row">
    <label for="hembra" class="col-form-label col-sm-2"> Hembra</label>
    <div class="form-group col-md-4">
        <input type="checkbox" placeholder="hembra" name="hembra" [(ngModel)]="checkedH" (change)="filtroHembra()">
    </div>
</div>
<div class="my-4 text-right" >
    <button class="btn btn-outline-success" type="button" [routerLink] = "['/mascotas/crear']">Nueva mascota</button>
</div>
<div *ngIf="mascotas?.length==0" class="alert alert-info">
    No se encontraron datos registrados
</div>
<table class="table table-striped" *ngIf="mascotas?.length>0">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Fecha de Nacimiento </th>
            <th>Particularidades físicas</th>
            <th>Sexo</th>
            <th>Fecha del rescate</th>
            <th>Lugar del rescate</th>
            <th>Descripción del rescate</th>
            <th>Especie</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let mascota of mascotas">
            <td>
                <img 
                    *ngIf="mascotaObj?.fotoMascota" 
                    src="http://localhost:8080/api/mascotas/upload/img/{{mascotaObj.fotoMascota}}" 
                    alt="{{mascotaObj.fotoMascota}}" 
                    class="img-thumbnail rounded"
                    style="width:64%;"
                >
            </td>
            <td>{{mascota.nombre}}</td>
            <td>{{mascota.fechaNacimiento}}</td>
            <td>{{mascota.particularidadesFisicas}}</td>
            <td>{{mascota.sexo}}</td>
            <td>{{mascota.fechaRescate}}</td>
            <td>{{mascota.lugarRescate}}</td>
            <td>{{mascota.descripcionRescate}}</td>
            <td>{{mascota.especie}}</td>
            <td>
                <button type="button" name="button" [routerLink]="['/mascotas/editar/', mascota.id]" class="btn btn-outline"><i class="fas fa-pen"></i></button>
            </td>
            <td>
                <button type="button" name="eliminar" (click)='borrarMascota(mascota.id)' class="btn btn-outline"><i class="fas fa-trash"></i></button>
            </td>
        </tr>
    </tbody>
</table>  
<!--<pagination-controls (pageChange)="p = $event"></pagination-controls>-->

