<form class="border p-3 form" (submit)='submit()' [formGroup]="editarVeterinariaObj"> 
    <div class=" text-center">
        <h2 >Modificar Veterinaria</h2> 
        <hr>
    </div>

            <div class="form-group">
                <label>Razón social</label>
                <input type="text" maxlength="50" class="form-control" placeholder="Razón social"name="razonSocial" [(ngModel)]="veterinaria.razonSocial" [class.is-invalid]="razonSocialNoValido" formControlName="razonSocial">
            </div>
            <div class="form-group">
                <label>Horario de atención</label>
                <input type="text" maxlength="50" class="form-control" placeholder="Horario de atención" name="horarioAtencion" [(ngModel)]="veterinaria.horarioAtencion" [class.is-invalid]="horarioAtencionNoValido"  formControlName="horarioAtencion" >
            </div>
            <div class="form-group">
                <label>direccion</label>
                <input type="text" maxlength="50" class="form-control"  placeholder="Dirección" name="direccion" [(ngModel)]="veterinaria.direccion"  [class.is-invalid]="direccionNoValido" formControlName="direccion">
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="internacion" [checked]="checked" [(ngModel)]="checked" formControlName="internacion">
                <label class="form-check-label" for="internacion">Internación</label>
            </div>
            <br>
            <div class="form-group">
                <label>Observación</label>
                <textarea type="text" maxlength="255"  style="resize:none" class="form-control" placeholder="Observación" name="observacion"  [(ngModel)]="veterinaria.observacion" formControlName="observacion"> </textarea>
            </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <button class="btn btn-outline-success" role="button" type='submit'>Modificar</button>
        </div>
    </div>
</form>
