<div class="card w-550 mx-auto"  style="width: 525px;">
    <div class="card-header" id="titulo" style="background-color: white;">{{titulo}} </div>
    <div class="card-body mx-auto" style="width: 800px"> 
        <form>
            <div class="form-row">
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control resizedTexbox" placeholder="Razón social"name="razonSocial" [(ngModel)]="veterinaria.razonSocial"required >
                        <style>
                            .resizedTexbox {width: 485px; height: 35px;}
                        </style>
                    </div>
            </div>
            <div class="form-row">
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control resizedTexbox" placeholder="Horario de atención" name="horarioAtencion" [(ngModel)]="veterinaria.horarioAtencion" required  >
                        <style>
                            .resizedTexbox{width: 485px; height: 35px;}
                        </style>
                    </div>
            </div>
            <div class="form-row">
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control resizedTexbox"  placeholder="Dirección" name="direccion" [(ngModel)]="veterinaria.direccion" required >
                        <style>
                            .resizedTexbox{width: 485px; height: 35px;}
                        </style>
                    </div>
            </div>
            <div class="form-row">
                <label for="internacion" class="col-form-label col-sm-2">Internación</label>
                    <div class="form-group col-md-4">
                        <input type="checkbox"name="internacion" [(ngModel)]="checked" required >
                    </div>
            </div>               
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <textarea type="text" maxlength="255"  style="resize:none" class="form-control resizedTexboxx" placeholder="Observación" name="observacion"  [(ngModel)]="veterinaria.observacion" required > </textarea>
                        <style>
                            .resizedTexboxx{width: 485px; height: 80px;}
                        </style>
                    </div>
                </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <button class="btn btn-outline-success" role="button" (click)='agregar(veterinaria)' *ngIf="!veterinaria.id else elseBlock">Agregar</button>
                    <ng-template #elseBlock>
                        <button class="btn btn-outline-success" role="button" (click)='modificar(veterinaria)'>Modificar</button>
                    </ng-template>
                </div>
            </div>
        </form>
</div>


