<div class="card text-white"  style="background-color:#00396b">
    <div class="card-header" id="titulo">{{titulo}} </div>
        <div class="card-body"> 
            <form>
                <div class="form-group row">
                        <div class="col-sm-6">
                            <input type="text"  class="form-control" placeholder="ID" name="id" [(ngModel)]="veterinaria.id" required >
                        </div>
                </div>
                <div class="form-group row">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="Razón social"name="razonSocial" [(ngModel)]="veterinaria.razonSocial"required  >
                        </div>
                </div>
                <div class="form-group row">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="Horario de atención" name="horarioAtencion" [(ngModel)]="veterinaria.horarioAtencion" required  >
                        </div>
                </div>
                <div class="form-group row">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="Dirección" name="direccion" [(ngModel)]="veterinaria.direccion" required >
                        </div>
                </div>
                <div class="form-group row">
                    <label for="internacion" class="col-form-label col-sm-2">Internación</label>
                        <div class="col-sm-6">
                            <input type="checkbox"  name="internacion" [(ngModel)]="veterinaria.internacion" required >
                        </div>
                </div>               
                 <div class="form-group row">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="Observación" name="observacion"  [(ngModel)]="veterinaria.observacion" required >
                        </div>
                    </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!veterinaria.id else elseBlock">Agregar</button>
                        <ng-template #elseBlock>
                            <button class="btn btn-primary" role="button" (click)='update()'>Modificar</button>
                        </ng-template>
                    </div>
                </div>
            </form>
    </div>


