        <h5>Veterinarias</h5>
            <div class="input-group">
                <div class="input bg-white">
                    <input type="text" name="busquedaRazonSocial" class="form-control" placeholder="Buscar por nombre" [(ngModel)]="busquedaRazonSocial" (change)="filtroRazonSocial(busquedaRazonSocial)">
                </div>
        </div>
        <div class="my-4 text-right" >
            <button class="btn btn-outline-success" type="button" [routerLink] = "['/veterinarias/crear']">Nueva veterinaria</button>
        </div>
        <div *ngIf="veterinarias?.length==0" class="alert alert-info">
            No se encontraron datos registrados
        </div>
        <table class="table table-striped" *ngIf="veterinarias?.length>0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Razón social</th>
                    <th>Horario de atención</th>
                    <th>Dirección</th>
                    <th>Internación Cercana</th>
                    <th>Observación</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let veterinaria of veterinarias">
                    <td>{{veterinaria.id}}</td>
                    <td>{{veterinaria.razonSocial}}</td>
                    <td>{{veterinaria.horarioAtencion}}</td>
                    <td>{{veterinaria.direccion}}</td>
                    <td>{{veterinaria.internacion}}</td>
                    <td>{{veterinaria.observacion}}</td>
                    <td>
                        <button type="button" name="button" [routerLink]="['/veterinarias/editar', veterinaria.id]" class="btn btn-outline"><i class="fas fa-pen"></i></button>
                    </td>
                    <td>
                        <button type="button" name="eliminar" (click)='borrarVeterinaria(veterinaria.id)' class="btn btn-outline"><i class="fas fa-trash"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>  

