<div class="card text-white" style="background-color:#00396b">
    <div class="card-header" id="titulo">{{titulo}} </div>
    <div class="card-body">
        <form>
            <div class="form-group row">
                <div class="col-sm-6">
                    <input type="text" class="form-control"  placeholder ="ID" name="id" [(ngModel)]="voluntario.idVoluntario" required>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="Nombre Completo" name="nombreCompleto" [(ngModel)]="voluntario.nombreCompleto" required>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="Télefono" name="telefono" [(ngModel)]="voluntario.telefono" required>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="Dirección" name="direccion" [(ngModel)]="voluntario.direccion" required>
                </div>
            </div>
            <div></div>
            <div class="form-group row">
                <label for="veterinaria" class="col-form-label col-sm-2">Veterinaria Cercana</label>
                <div class="col-sm-6">
                    <select class="form-control"  name="idVeterinariaCercana" [(ngModel)]="voluntario.idVeterinariaCercana" style="width:500px;" required>
                    <option *ngFor="let veterinaria of veterinarias" [ngValue]="veterinaria">{{veterinaria.razonSocial}}</option>
                    
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="zona" name="zona" [(ngModel)]="voluntario.zona" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="transito" class="col-form-label col-sm-2">Tránsito</label>
                <div class="col-sm-6">
                    <input type="checkbox" name="transito" [(ngModel)]="voluntario.transito">
                </div>
            </div>
            <div class="form-group row">
                <label for="traslado" class="col-form-label col-sm-2">Traslado</label>
                <div class="col-sm-6">
                    <input type="checkbox" name="traslado" [(ngModel)]="voluntario.traslado">
                </div>
            </div>
            <div class="form-group row">
                <label for="presencial" class="col-form-label col-sm-2">Presencial</label>
                <div class="col-sm-6">
                    <input type="checkbox" name="presencial"  [(ngModel)]="voluntario.presencial">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!voluntario.idVoluntario else elseBlock">Agregar</button>
                    <ng-template #elseBlock>
                        <button class="btn btn-primary" role="button" (click)='update()'>Modificar</button>

                    </ng-template>
                </div>
            </div>
        </form>
    </div>
</div>