        <form class="border p-3 form">
            <div class=" text-center">
                <h2>Nuevo voluntario</h2> 
                <hr>
            </div>

                <div class="form-group ">
                    <input type="text" class="form-control" placeholder="Nombre Completo" name="nombreCompleto" [(ngModel)]="voluntarioObj.nombreCompleto" >
                </div>
                <div class="form-group  " >
                        <input type="text" class= "form-control" placeholder="Télefono" name="telefono" [(ngModel)]="voluntarioObj.telefono" >
                </div>
                <div class="form-group  ">
                    <input type="text" class="form-control" placeholder="Dirección" name="direccion" [(ngModel)]="voluntarioObj.direccion" >
                </div>
            <label for="veterinaria" class="col-form-label col-sm-3">Veterinaria Cercana</label>
                <button   (click)="agregarVeterinaria()" class="btn btn-light btn-lg my-3">
                    <i class="fas fa-plus"></i>
                </button>
            <div class="form-row" *ngFor="let veterinariaCercana of veterinariasCercanas; let i = index">
                <div class="form-group  ">
                    <select 
                        type="number" 
                        class="form-control resizedTextbox" 
                        [(ngModel)]="voluntarioObj.idveterinarias"
                    >
                        <option
                            *ngFor="let veterinaria of veterinarias"
                            [value]="veterinaria.id"
                        >
                        {{veterinaria.razonSocial}}
                    </option>
                    </select>
                    <div class="form-group col-md-1">
                        <button class="btn btn-danger btn-sm" (click)="eliminarVeterinaria(veterinariaCercana)">
                            <i class='fas fa-trash'></i>
                        </button>
                    </div> 
                </div>
            </div>
                <div class="form-group ">
                    <input type="text" class="form-control" placeholder="localidad " name="localidad" [(ngModel)]="voluntarioObj.localidad" >
            </div>
            <div class="form-row">
                <label for="transito" class="col-form-label col-sm-2">Tránsito</label>
                <div class="form-group col-md-4">
                    <input type="checkbox" name="transito" [(ngModel)]="checkedTransito">
                </div>
            </div>
            <div class="form-row">
                <label for="traslado" class="col-form-label col-sm-2">Traslado</label>
                <div class="form-group col-md-4">
                    <input type="checkbox" name="traslado" [(ngModel)]="checkedTraslado">
                </div>
            </div>
            <div class="form-row">
                <label for="presencial" class="col-form-label col-sm-2">Presencial</label>
                <div class="form-group ">
                    <input type="checkbox" name="presencial"  [(ngModel)]="checkedPresencial">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group  col-md-6 ">
                    <button class="btn btn-outline-success" role="button" (click)='agregar()' *ngIf="!voluntario.id else elseBlock">Agregar</button>
                    <ng-template #elseBlock>
                        <button class="btn btn-outline-success" role="button" (click)='modificar()'>Modificar</button>

                    </ng-template>
                </div>
            </div>
        </form>
