    <form (submit)="submit()" [formGroup]="voluntarioObj" class="border p-3 form">   
            <div class=" text-center">
                <h2>Nuevo Voluntario</h2> 
                <hr>
            </div>
                <div class="form-group">
                    <input type="text" maxlength="50" class="form-control" placeholder="Nombre Completo" name="nombreCompleto" formControlName="nombreCompleto" [class.is-invalid]="nombreNoValido" >
                    <label *ngIf="nombreNoValido" class="text-danger">Por favor, complete el campo</label>
                </div>
                <div class="form-group " >
                        <input type="text" maxlength="50" class= "form-control" placeholder="Télefono" name="telefono" formControlName="telefono" >    
                    </div>
                <div class="form-group ">
                    <input type="text"maxlength="50"  class="form-control" placeholder="Dirección" name="direccion" formControlName="direccion" [class.is-invalid]="direccionNoValido">
                    <label *ngIf="direccionNoValido" class="text-danger">Por favor, complete el campo</label>
                </div>
            <div class="form-group">
                <a class="btn btn-ou" (click)="agregarVeterinaria()">Veterinaria Cercana <i class="fas fa-plus"></i></a>
            </div>
            <div formArrayName="idveterinarias" *ngFor="let veterinaria of idveterinarias.controls; let i = index">
                <div [formGroupName]="i">
                    <label for="veterinaria" class="col-form-label col-sm-2">Veterinaria</label>
                    <div class="form-group row">
                        <div class="col-md-5">
                            <select type="text" [attr.id]="'veterinaria' + i" class='form-control' formControlName="id">
                                <option
                                *ngFor="let veterinaria of veterinarias"
                                [value]="veterinaria.id"
                            >
                            {{veterinaria.razonSocial}}
                        </option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-outline" (click)="eliminarVeterinaria(i)"><i class='fas fa-trash'></i></button>
                        </div>
                    </div>
                </div>
            </div>
                <div class="form-group">
                    <input type="text" maxlength="50" class="form-control" placeholder="localidad " name="localidad" formControlName="localidad">
                </div>
            
                <div class="form-check">
                    <input class="for-check-input"  type="checkbox" name="transito" [(ngModel)]="checkedTransito" formControlName="transito">
                    <label class="form-check-label" for="transito" >Tránsito</label>
                </div>
                <br>
                
                <div class="form-check">
                    <input class="for-check-input" type="checkbox" name="traslado" [(ngModel)]="checkedTraslado" formControlName="traslado">
                    <label class="form-check-label" for="traslado" >Traslado</label>
                </div>
                <br>
                <div class="form-check">
                    <input class="for-check-input" type="checkbox" name="presencial"  [(ngModel)]="checkedPresencial" formControlName="presencial">
                    <label class="form-check-label" for="presencial" >Presencial</label>
                </div>
                <br>
            <div class="form-row">
                <div class="form-group ">
                    <button class="btn btn-outline-success" role="button" type="submit">Agregar</button>
                </div>
            </div>
    </form>
