<div class="card">
    <div class="card-body">
        <h5 class="card-title">Voluntarios</h5>
        
        <div class="my-2 text-left" >
            <button class="btn btn-rounded btn-primary" type="button" [routerLink] = "['/voluntarios/crear']">Crear Voluntarios</button>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Télefono</th>
                    <th>Dirección</th>
                    <th>Veterinaria Cercana</th>
                    <th>Zona</th>
                    <th>Tránsito</th>
                    <th>Traslado</th>
                    <th>Presencial</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let voluntarios of voluntarios">
                    <td>{{voluntarios.nombreCompleto}}</td>
                    <td>{{voluntarios.telefono}}</td>
                    <td>{{voluntarios.direccion}}</td>
                    <td>{{voluntarios.idVeterinariaCercana}}</td>
                    <td>{{voluntarios.zona}}</td>
                    <td>{{voluntarios.transito}}</td>
                    <td>{{voluntarios.traslado}}</td>
                    <td>{{voluntarios.presencial}}</td>
                </tr>
            </tbody>
        </table>  
        </div>
  </div>