        <h5 class="card-title" >Voluntarios</h5>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-text bg-white">
                    <input type="text" name="busquedaNombre" class="form-control" placeholder="Buscar por nombre" [(ngModel)]="voluntarioService.busquedaNombre">
                </div>
                <div class="input-group-text bg-white">
                    <input type="text" name="busquedaTransito" class="form-control" placeholder="Buscar por tránsito" [(ngModel)]="voluntarioService.busquedaTransito">
                </div>
                <div class="input-group-text bg-white">
                    <input type="text" name="busquedaTraslado" class="form-control" placeholder="Buscar por traslado" [(ngModel)]="voluntarioService.busquedaTraslado">
                </div>
                <div class="input-group-text bg-white">
                    <input type="text" name="busquedaPresencial" class="form-control" placeholder="Buscar por presencial" [(ngModel)]="voluntarioService.busquedaPresencial">
                </div>
            </div>
        </div>
        <div class="my-2 text-left" >
            <button class="btn btn-rounded btn-primary" type="button" [routerLink] = "['/voluntarios/crear']">Nuevo Voluntario</button>
        </div>
        <div *ngIf="voluntarios?.length==0" class="alert alert-info">
            No se encontraron datos registrados
        </div>
        <table class="table table-striped" *ngIf="voluntarios?.length>0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Télefono</th>
                    <th>Dirección</th>
                    <th>Zona</th>
                    <th>Tránsito</th>
                    <th>Traslado</th>
                    <th>Presencial</th>
                    <th>Modificar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let voluntario of voluntarios|busquedaNombre:'nombreCompleto:voluntarioService.busquedaNombre'">
                    <td>{{voluntario.idVoluntario}}</td>
                    <td>{{voluntario.nombreCompleto}}</td>
                    <td>{{voluntario.telefono}}</td>
                    <td>{{voluntario.direccion}}</td>
                    <td>{{voluntario.zona}}</td>
                    <td>{{voluntario.transito}}</td>
                    <td>{{voluntario.traslado}}</td>
                    <td>{{voluntario.presencial}}</td>
                    <td>
                        <button type="button" name="button" [routerLink]="['/voluntarios/editar', voluntario.id]" class="btn btn-primary">Editar</button>
                    </td>
                    <td>
                        <button type="button" name="eliminar" (click)='delete(voluntario)' class="btn btn-danger btn-sm">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>  
