<div class="card" style="background-color:#00396b" >
    <div class="card-body"style="background-color:#fdfdfd"  >
        <h5 class="card-title" >Voluntarios</h5>
        
        <div class="my-2 text-left" >
            <button class="btn btn-rounded btn-primary" type="button" [routerLink] = "['/voluntarios/crear']">Nuevo Voluntario</button>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Télefono</th>
                    <th>Dirección</th>
                    <th>Veterinaria Cercana</th>
                    <th>Zona</th>
                    <th>Tránsito</th>
                    <th>Traslado</th>
                    <th>Presencial</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let voluntario of voluntarios">
                    <td>{{voluntario.nombreCompleto}}</td>
                    <td>{{voluntario.telefono}}</td>
                    <td>{{voluntario.direccion}}</td>
                    <td>{{voluntario.idVeterinariaCercana}}</td>
                    <td>{{voluntario.zona}}</td>
                    <td>{{voluntario.transito}}</td>
                    <td>{{voluntario.traslado}}</td>
                    <td>{{voluntario.presencial}}</td>
                </tr>
            </tbody>
        </table>  
        </div>
  </div>