            <form class="border p-3 form">
                <div class=" text-center">
                    <h2>Nuevo movimiento de recursos</h2> 
                    <hr>
                </div>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Autor" name="donante" [(ngModel)]= "movRecObj.donante">
                    </div>
                    <div class="form-group">
                        <textarea type="text" maxlength="255"  style="resize:none"  class="form-control" placeholder="Descripción" name="descripcion" [(ngModel)]= "movRecObj.descripcion"> </textarea>
                    </div>
                    <div class="form-group ">
                        <input type="text" class="form-control" placeholder="Cantidad" name="cantidad" [(ngModel)]= "movRecObj.cantidad"required  >
                    </div>
                    <label for="idTipoMovimiento" class="col-form-label col-md-8">Tipo Movimiento</label>
                        <div class="form-group">
                            <select class="form-control" type = number [(ngModel)] = "movRecObj.idTipoMovimiento" name = "idTipoMovimiento">
                            <option *ngFor = "let tipoMovimiento of tiposMovimientos" [value] = "tipoMovimiento.id">{{tipoMovimiento.descripcion}}</option>
                        </select>
                        </div>
                    <label for="fecha" class="col-form-label col-md-8">Fecha </label>
                            <div class="form-group">
                                <input type="date" class="form-control " name="fecha" [(ngModel)]="movRecObj.fecha" required>
                            </div>
                <div class = "form-group row">
                    <div class = "col-sm-6">
                        <button class = "btn btn-outline-success" role = "button" (click) = 'agregar()'>Agregar</button>
                    </div>
                </div>
            </form>