            <form class="border p-3 form">    
                <div class=" text-center">
                    <h2>Modificar tipo de usuario</h2> 
                    <hr>
                </div>             
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Nombre de usuario" name="nombreUsuario" >
                    </div>
                <!--
                    <label for="idTipoUsuario" class="col-form-label col-sm-2">Tipo de Usuario</label>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <select class="form-control" type = number [(ngModel)] = "usuario.idTipoUsuario" name = "idTipoUsuario">
                            <option *ngFor = "let tipoUsuario of tiposUsuarios" [value] = "tipoUsuario.id">{{tipoUsuario.descripcion}}</option>
                        </select>
                        </div>
                    </div>
                -->
                <div class = "form-group row">
                    <div class = "col-sm-6">
                        <button class = "btn btn-outline-success" role = "button">Confirmar</button>
                    </div>
                </div>
            </form>
 